{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal text-body-emphasis">Дипломная работа</h1>
          <p class="fs-5 text-body-secondary">Создание интернет-магазина</p>
        </div>


    <div class="container my-5">
        <h1 class="text-center mb-4">Цели и задачи проекта</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Цель</h2>
                <p class="text-muted">Создать интернет магазин</p>
            </div>
            <div class="col-md-6">
                <h2>Для чего:</h2>
                <p class="text-muted">При открытии собственного бизнесса по продажам товара, мозвожность открытия своего онлайн магазина</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Навыки для работы</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Python</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Flask</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> HTML/CSS</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> JavaScript</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Задачи</h2>
                <p class="text-muted mb-0">- Изучить литературу, касающуюся темы исследования.</p>
                <p class="text-muted">- Рассмотреть историю создания, сравнить интернет и офлайн.</p>
                <p class="text-muted">- Ознакомиться с основными принципами создания, способы создания</p>
                <p class="text-muted">- Выбрать изык и фреймворк для работы</p>
                <p class="text-muted">- Создать свой собственный магазин на одном из фреймворков</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Контакты</h2>
                <p class="mb-0"><i class="fa fa-phone"></i> Телефон: +9080589950</p>
                <p class="mb-0"><i class="fa fa-envelope"></i> Email: Kutfilloev.danil@yandex.ru</p>
                <p class="mb-0"><i class="fa fa-github"> GitHub: <a href="https://github.com/example"></i>Naglovin</a></p>
            </div>
            <div class="col-md-6">
                <h2>Инструменты</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> PyCharm</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> Flask</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}